<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
    </dict>
    <key>Label</key>
    <string>at.sigmoid.yubikey-watcher</string>
    <key>Program</key>
    <string>/Users/simon/bin/yubikey-watcher</string>
    <key>ProgramArguments</key>
    <array>
      <string>yubikey-watcher</string>
      <string>--socket</string>
      <string>/Users/simon/.gnupg/gpg-agent.log.sock</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>LaunchOnlyOnce</key>        
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/at.sigmoid.yubikey-watcher.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/at.sigmoid.yubikey-watcher.stderr</string>
  </dict>
</plist>
